# Archivos generados por Rust
/target/
**/*.rs.bk
Cargo.lock

# Si es una biblioteca (no un binario), Cargo.lock debe incluirse en el control de versiones
# Descomenta la siguiente línea si es un binario
# !Cargo.lock

# Archivos y carpetas generados por el IDE
.vscode/
.idea/
*.iml
*.swp
*.swo
.DS_Store

# Archivos de compilación
*.o
*.a
*.so
*.dylib
*.dll

# Archivos específicos del proyecto
profile.json

# Archivos de documentación generados
/doc/

# Archivos de prueba
*.profraw

# Archivos de respaldo
*~
rdo/target/debug/*
# rdo/target/release/*
rdo/target/.rustc_info.json
rdo/target/CACHEDIR.TAG
rdo/target/release/.fingerprint/*
rdo/target/release/deps/*
rdo/target/release/build/*