# Archivos generados por Rust
/target/
**/*.rs.bk
Cargo.lock

# Si es una biblioteca (no un binario), Cargo.lock debe incluirse en el control de versiones
# Descomenta la siguiente línea si es un binario
# !Cargo.lock

# Archivos y carpetas generados por el IDE
.vscode/
.idea/
*.iml
*.swp
*.swo
.DS_Store

# Archivos de compilación
*.o
*.a
*.so
*.dylib
*.dll

# Archivos específicos del proyecto
profile.json

# Archivos de documentación generados
/doc/

# Archivos de prueba
*.profraw

# Archivos de respaldo
*~
rdo/target/.rustc_info.json
rdo/target/CACHEDIR.TAG
rdo/target/debug/.cargo-lock
rdo/target/debug/rdo
rdo/target/debug/rdo.d
rdo/target/debug/.fingerprint/anstream-799eb8440122bfd2/dep-lib-anstream
rdo/target/debug/.fingerprint/anstream-799eb8440122bfd2/invoked.timestamp
rdo/target/debug/.fingerprint/anstream-799eb8440122bfd2/lib-anstream
rdo/target/debug/.fingerprint/anstream-799eb8440122bfd2/lib-anstream.json
rdo/target/debug/.fingerprint/anstyle-bbe90d891e91cf0b/dep-lib-anstyle
rdo/target/debug/.fingerprint/anstyle-bbe90d891e91cf0b/invoked.timestamp
rdo/target/debug/.fingerprint/anstyle-bbe90d891e91cf0b/lib-anstyle
rdo/target/debug/.fingerprint/anstyle-bbe90d891e91cf0b/lib-anstyle.json
rdo/target/debug/.fingerprint/anstyle-parse-858223a5b5a383d6/dep-lib-anstyle_parse
rdo/target/debug/.fingerprint/anstyle-parse-858223a5b5a383d6/invoked.timestamp
rdo/target/debug/.fingerprint/anstyle-parse-858223a5b5a383d6/lib-anstyle_parse
rdo/target/debug/.fingerprint/anstyle-parse-858223a5b5a383d6/lib-anstyle_parse.json
rdo/target/debug/.fingerprint/anstyle-query-acf70214a49697bf/dep-lib-anstyle_query
rdo/target/debug/.fingerprint/anstyle-query-acf70214a49697bf/invoked.timestamp
rdo/target/debug/.fingerprint/anstyle-query-acf70214a49697bf/lib-anstyle_query
rdo/target/debug/.fingerprint/anstyle-query-acf70214a49697bf/lib-anstyle_query.json
rdo/target/debug/.fingerprint/clap-8e0bc4170258e063/dep-lib-clap
rdo/target/debug/.fingerprint/clap-8e0bc4170258e063/invoked.timestamp
rdo/target/debug/.fingerprint/clap-8e0bc4170258e063/lib-clap
rdo/target/debug/.fingerprint/clap-8e0bc4170258e063/lib-clap.json
rdo/target/debug/.fingerprint/clap_builder-66681b8c3c354734/dep-lib-clap_builder
rdo/target/debug/.fingerprint/clap_builder-66681b8c3c354734/invoked.timestamp
rdo/target/debug/.fingerprint/clap_builder-66681b8c3c354734/lib-clap_builder
rdo/target/debug/.fingerprint/clap_builder-66681b8c3c354734/lib-clap_builder.json
rdo/target/debug/.fingerprint/clap_derive-9c278cd173a69d22/dep-lib-clap_derive
rdo/target/debug/.fingerprint/clap_derive-9c278cd173a69d22/invoked.timestamp
rdo/target/debug/.fingerprint/clap_derive-9c278cd173a69d22/lib-clap_derive
rdo/target/debug/.fingerprint/clap_derive-9c278cd173a69d22/lib-clap_derive.json
rdo/target/debug/.fingerprint/clap_lex-daa19dd158061c48/dep-lib-clap_lex
rdo/target/debug/.fingerprint/clap_lex-daa19dd158061c48/invoked.timestamp
rdo/target/debug/.fingerprint/clap_lex-daa19dd158061c48/lib-clap_lex
rdo/target/debug/.fingerprint/clap_lex-daa19dd158061c48/lib-clap_lex.json
rdo/target/debug/.fingerprint/colorchoice-6a0f3764a098d9d1/dep-lib-colorchoice
rdo/target/debug/.fingerprint/colorchoice-6a0f3764a098d9d1/invoked.timestamp
rdo/target/debug/.fingerprint/colorchoice-6a0f3764a098d9d1/lib-colorchoice
rdo/target/debug/.fingerprint/colorchoice-6a0f3764a098d9d1/lib-colorchoice.json
rdo/target/debug/.fingerprint/heck-fa207a15e8bfb7af/dep-lib-heck
rdo/target/debug/.fingerprint/heck-fa207a15e8bfb7af/invoked.timestamp
rdo/target/debug/.fingerprint/heck-fa207a15e8bfb7af/lib-heck
rdo/target/debug/.fingerprint/heck-fa207a15e8bfb7af/lib-heck.json
rdo/target/debug/.fingerprint/is_terminal_polyfill-1f8ede2ef97b3967/dep-lib-is_terminal_polyfill
rdo/target/debug/.fingerprint/is_terminal_polyfill-1f8ede2ef97b3967/invoked.timestamp
rdo/target/debug/.fingerprint/is_terminal_polyfill-1f8ede2ef97b3967/lib-is_terminal_polyfill
rdo/target/debug/.fingerprint/is_terminal_polyfill-1f8ede2ef97b3967/lib-is_terminal_polyfill.json
rdo/target/debug/.fingerprint/itoa-37c5ecc59978b7f6/dep-lib-itoa
rdo/target/debug/.fingerprint/itoa-37c5ecc59978b7f6/invoked.timestamp
rdo/target/debug/.fingerprint/itoa-37c5ecc59978b7f6/lib-itoa
rdo/target/debug/.fingerprint/itoa-37c5ecc59978b7f6/lib-itoa.json
rdo/target/debug/.fingerprint/memchr-ee0a9354c559bde2/dep-lib-memchr
rdo/target/debug/.fingerprint/memchr-ee0a9354c559bde2/invoked.timestamp
rdo/target/debug/.fingerprint/memchr-ee0a9354c559bde2/lib-memchr
rdo/target/debug/.fingerprint/memchr-ee0a9354c559bde2/lib-memchr.json
rdo/target/debug/.fingerprint/proc-macro2-623611f8ef0176fe/build-script-build-script-build
rdo/target/debug/.fingerprint/proc-macro2-623611f8ef0176fe/build-script-build-script-build.json
rdo/target/debug/.fingerprint/proc-macro2-623611f8ef0176fe/dep-build-script-build-script-build
rdo/target/debug/.fingerprint/proc-macro2-623611f8ef0176fe/invoked.timestamp
rdo/target/debug/.fingerprint/proc-macro2-7d24193a3e82fa4a/run-build-script-build-script-build
rdo/target/debug/.fingerprint/proc-macro2-7d24193a3e82fa4a/run-build-script-build-script-build.json
rdo/target/debug/.fingerprint/proc-macro2-9b72563e7d353b25/dep-lib-proc_macro2
rdo/target/debug/.fingerprint/proc-macro2-9b72563e7d353b25/invoked.timestamp
rdo/target/debug/.fingerprint/proc-macro2-9b72563e7d353b25/lib-proc_macro2
rdo/target/debug/.fingerprint/proc-macro2-9b72563e7d353b25/lib-proc_macro2.json
rdo/target/debug/.fingerprint/quote-ae401e1e951ce75b/dep-lib-quote
rdo/target/debug/.fingerprint/quote-ae401e1e951ce75b/invoked.timestamp
rdo/target/debug/.fingerprint/quote-ae401e1e951ce75b/lib-quote
rdo/target/debug/.fingerprint/quote-ae401e1e951ce75b/lib-quote.json
rdo/target/debug/.fingerprint/rdo-0c795adaebf8913e/bin-rdo
rdo/target/debug/.fingerprint/rdo-0c795adaebf8913e/bin-rdo.json
rdo/target/debug/.fingerprint/rdo-0c795adaebf8913e/dep-bin-rdo
rdo/target/debug/.fingerprint/rdo-0c795adaebf8913e/invoked.timestamp
rdo/target/debug/.fingerprint/rdo-92e8bcef2441f0dc/bin-rdo
rdo/target/debug/.fingerprint/rdo-92e8bcef2441f0dc/bin-rdo.json
rdo/target/debug/.fingerprint/rdo-92e8bcef2441f0dc/dep-bin-rdo
rdo/target/debug/.fingerprint/rdo-92e8bcef2441f0dc/invoked.timestamp
rdo/target/debug/.fingerprint/rdo-92e8bcef2441f0dc/output-bin-rdo
rdo/target/debug/.fingerprint/ryu-be08ec97f016dca5/dep-lib-ryu
rdo/target/debug/.fingerprint/ryu-be08ec97f016dca5/invoked.timestamp
rdo/target/debug/.fingerprint/ryu-be08ec97f016dca5/lib-ryu
rdo/target/debug/.fingerprint/ryu-be08ec97f016dca5/lib-ryu.json
rdo/target/debug/.fingerprint/serde-3f6c1d8b2a3f5028/run-build-script-build-script-build
rdo/target/debug/.fingerprint/serde-3f6c1d8b2a3f5028/run-build-script-build-script-build.json
rdo/target/debug/.fingerprint/serde-6c2f97efd2fac44f/build-script-build-script-build
rdo/target/debug/.fingerprint/serde-6c2f97efd2fac44f/build-script-build-script-build.json
rdo/target/debug/.fingerprint/serde-6c2f97efd2fac44f/dep-build-script-build-script-build
rdo/target/debug/.fingerprint/serde-6c2f97efd2fac44f/invoked.timestamp
rdo/target/debug/.fingerprint/serde-bfe088dd24bd9247/dep-lib-serde
rdo/target/debug/.fingerprint/serde-bfe088dd24bd9247/invoked.timestamp
rdo/target/debug/.fingerprint/serde-bfe088dd24bd9247/lib-serde
rdo/target/debug/.fingerprint/serde-bfe088dd24bd9247/lib-serde.json
rdo/target/debug/.fingerprint/serde_derive-7fc938c9ccb275fb/dep-lib-serde_derive
rdo/target/debug/.fingerprint/serde_derive-7fc938c9ccb275fb/invoked.timestamp
rdo/target/debug/.fingerprint/serde_derive-7fc938c9ccb275fb/lib-serde_derive
rdo/target/debug/.fingerprint/serde_derive-7fc938c9ccb275fb/lib-serde_derive.json
rdo/target/debug/.fingerprint/serde_json-046af6a1e23e734c/build-script-build-script-build
rdo/target/debug/.fingerprint/serde_json-046af6a1e23e734c/build-script-build-script-build.json
rdo/target/debug/.fingerprint/serde_json-046af6a1e23e734c/dep-build-script-build-script-build
rdo/target/debug/.fingerprint/serde_json-046af6a1e23e734c/invoked.timestamp
rdo/target/debug/.fingerprint/serde_json-56812e5bec70ceb9/run-build-script-build-script-build
rdo/target/debug/.fingerprint/serde_json-56812e5bec70ceb9/run-build-script-build-script-build.json
rdo/target/debug/.fingerprint/serde_json-f54b2303077f139b/dep-lib-serde_json
rdo/target/debug/.fingerprint/serde_json-f54b2303077f139b/invoked.timestamp
rdo/target/debug/.fingerprint/serde_json-f54b2303077f139b/lib-serde_json
rdo/target/debug/.fingerprint/serde_json-f54b2303077f139b/lib-serde_json.json
rdo/target/debug/.fingerprint/strsim-47247f90d363b00f/dep-lib-strsim
rdo/target/debug/.fingerprint/strsim-47247f90d363b00f/invoked.timestamp
rdo/target/debug/.fingerprint/strsim-47247f90d363b00f/lib-strsim
rdo/target/debug/.fingerprint/strsim-47247f90d363b00f/lib-strsim.json
rdo/target/debug/.fingerprint/syn-843caebd58dd05e1/dep-lib-syn
rdo/target/debug/.fingerprint/syn-843caebd58dd05e1/invoked.timestamp
rdo/target/debug/.fingerprint/syn-843caebd58dd05e1/lib-syn
rdo/target/debug/.fingerprint/syn-843caebd58dd05e1/lib-syn.json
rdo/target/debug/.fingerprint/unicode-ident-5783d1ad3b24ccf6/dep-lib-unicode_ident
rdo/target/debug/.fingerprint/unicode-ident-5783d1ad3b24ccf6/invoked.timestamp
rdo/target/debug/.fingerprint/unicode-ident-5783d1ad3b24ccf6/lib-unicode_ident
rdo/target/debug/.fingerprint/unicode-ident-5783d1ad3b24ccf6/lib-unicode_ident.json
rdo/target/debug/.fingerprint/utf8parse-db98ea13684760d7/dep-lib-utf8parse
rdo/target/debug/.fingerprint/utf8parse-db98ea13684760d7/invoked.timestamp
rdo/target/debug/.fingerprint/utf8parse-db98ea13684760d7/lib-utf8parse
rdo/target/debug/.fingerprint/utf8parse-db98ea13684760d7/lib-utf8parse.json
rdo/target/debug/build/proc-macro2-623611f8ef0176fe/build_script_build-623611f8ef0176fe
rdo/target/debug/build/proc-macro2-623611f8ef0176fe/build_script_build-623611f8ef0176fe.d
rdo/target/debug/build/proc-macro2-623611f8ef0176fe/build-script-build
rdo/target/debug/build/proc-macro2-7d24193a3e82fa4a/invoked.timestamp
rdo/target/debug/build/proc-macro2-7d24193a3e82fa4a/output
rdo/target/debug/build/proc-macro2-7d24193a3e82fa4a/root-output
rdo/target/debug/build/proc-macro2-7d24193a3e82fa4a/stderr
rdo/target/debug/build/serde-3f6c1d8b2a3f5028/invoked.timestamp
rdo/target/debug/build/serde-3f6c1d8b2a3f5028/output
rdo/target/debug/build/serde-3f6c1d8b2a3f5028/root-output
rdo/target/debug/build/serde-3f6c1d8b2a3f5028/stderr
rdo/target/debug/build/serde-6c2f97efd2fac44f/build_script_build-6c2f97efd2fac44f
rdo/target/debug/build/serde-6c2f97efd2fac44f/build_script_build-6c2f97efd2fac44f.d
rdo/target/debug/build/serde-6c2f97efd2fac44f/build-script-build
rdo/target/debug/build/serde_json-046af6a1e23e734c/build_script_build-046af6a1e23e734c
rdo/target/debug/build/serde_json-046af6a1e23e734c/build_script_build-046af6a1e23e734c.d
rdo/target/debug/build/serde_json-046af6a1e23e734c/build-script-build
rdo/target/debug/build/serde_json-56812e5bec70ceb9/invoked.timestamp
rdo/target/debug/build/serde_json-56812e5bec70ceb9/output
rdo/target/debug/build/serde_json-56812e5bec70ceb9/root-output
rdo/target/debug/build/serde_json-56812e5bec70ceb9/stderr
rdo/target/debug/deps/anstream-799eb8440122bfd2.d
rdo/target/debug/deps/anstyle_parse-858223a5b5a383d6.d
rdo/target/debug/deps/anstyle_query-acf70214a49697bf.d
rdo/target/debug/deps/anstyle-bbe90d891e91cf0b.d
rdo/target/debug/deps/clap_builder-66681b8c3c354734.d
rdo/target/debug/deps/clap_derive-9c278cd173a69d22.d
rdo/target/debug/deps/clap_lex-daa19dd158061c48.d
rdo/target/debug/deps/clap-8e0bc4170258e063.d
rdo/target/debug/deps/colorchoice-6a0f3764a098d9d1.d
rdo/target/debug/deps/heck-fa207a15e8bfb7af.d
rdo/target/debug/deps/is_terminal_polyfill-1f8ede2ef97b3967.d
rdo/target/debug/deps/itoa-37c5ecc59978b7f6.d
rdo/target/debug/deps/libanstream-799eb8440122bfd2.rlib
rdo/target/debug/deps/libanstream-799eb8440122bfd2.rmeta
rdo/target/debug/deps/libanstyle_parse-858223a5b5a383d6.rlib
rdo/target/debug/deps/libanstyle_parse-858223a5b5a383d6.rmeta
rdo/target/debug/deps/libanstyle_query-acf70214a49697bf.rlib
rdo/target/debug/deps/libanstyle_query-acf70214a49697bf.rmeta
rdo/target/debug/deps/libanstyle-bbe90d891e91cf0b.rlib
rdo/target/debug/deps/libanstyle-bbe90d891e91cf0b.rmeta
rdo/target/debug/deps/libclap_builder-66681b8c3c354734.rlib
rdo/target/debug/deps/libclap_builder-66681b8c3c354734.rmeta
rdo/target/debug/deps/libclap_lex-daa19dd158061c48.rlib
rdo/target/debug/deps/libclap_lex-daa19dd158061c48.rmeta
rdo/target/debug/deps/libclap-8e0bc4170258e063.rlib
rdo/target/debug/deps/libclap-8e0bc4170258e063.rmeta
rdo/target/debug/deps/libcolorchoice-6a0f3764a098d9d1.rlib
rdo/target/debug/deps/libcolorchoice-6a0f3764a098d9d1.rmeta
rdo/target/debug/deps/libheck-fa207a15e8bfb7af.rlib
rdo/target/debug/deps/libheck-fa207a15e8bfb7af.rmeta
rdo/target/debug/deps/libis_terminal_polyfill-1f8ede2ef97b3967.rlib
rdo/target/debug/deps/libis_terminal_polyfill-1f8ede2ef97b3967.rmeta
rdo/target/debug/deps/libitoa-37c5ecc59978b7f6.rlib
rdo/target/debug/deps/libitoa-37c5ecc59978b7f6.rmeta
rdo/target/debug/deps/libmemchr-ee0a9354c559bde2.rlib
rdo/target/debug/deps/libmemchr-ee0a9354c559bde2.rmeta
rdo/target/debug/deps/libproc_macro2-9b72563e7d353b25.rlib
rdo/target/debug/deps/libproc_macro2-9b72563e7d353b25.rmeta
rdo/target/debug/deps/libquote-ae401e1e951ce75b.rlib
rdo/target/debug/deps/libquote-ae401e1e951ce75b.rmeta
rdo/target/debug/deps/libryu-be08ec97f016dca5.rlib
rdo/target/debug/deps/libryu-be08ec97f016dca5.rmeta
rdo/target/debug/deps/libserde_json-f54b2303077f139b.rlib
rdo/target/debug/deps/libserde_json-f54b2303077f139b.rmeta
rdo/target/debug/deps/libserde-bfe088dd24bd9247.rlib
rdo/target/debug/deps/libserde-bfe088dd24bd9247.rmeta
rdo/target/debug/deps/libstrsim-47247f90d363b00f.rlib
rdo/target/debug/deps/libstrsim-47247f90d363b00f.rmeta
rdo/target/debug/deps/libsyn-843caebd58dd05e1.rlib
rdo/target/debug/deps/libsyn-843caebd58dd05e1.rmeta
rdo/target/debug/deps/libunicode_ident-5783d1ad3b24ccf6.rlib
rdo/target/debug/deps/libunicode_ident-5783d1ad3b24ccf6.rmeta
rdo/target/debug/deps/libutf8parse-db98ea13684760d7.rlib
rdo/target/debug/deps/libutf8parse-db98ea13684760d7.rmeta
rdo/target/debug/deps/memchr-ee0a9354c559bde2.d
rdo/target/debug/deps/proc_macro2-9b72563e7d353b25.d
rdo/target/debug/deps/quote-ae401e1e951ce75b.d
rdo/target/debug/deps/rdo-0c795adaebf8913e
rdo/target/debug/deps/rdo-0c795adaebf8913e.d
rdo/target/debug/deps/rdo-92e8bcef2441f0dc.d
rdo/target/debug/deps/ryu-be08ec97f016dca5.d
rdo/target/debug/deps/serde_derive-7fc938c9ccb275fb.d
rdo/target/debug/deps/serde_json-f54b2303077f139b.d
rdo/target/debug/deps/serde-bfe088dd24bd9247.d
rdo/target/debug/deps/strsim-47247f90d363b00f.d
rdo/target/debug/deps/syn-843caebd58dd05e1.d
rdo/target/debug/deps/unicode_ident-5783d1ad3b24ccf6.d
rdo/target/debug/deps/utf8parse-db98ea13684760d7.d
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6qudao4aa-1udh9xo.lock
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6quuvsuf3-0ov74k8.lock
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6qudao4aa-1udh9xo-0wst9grwfl0nn952gs13ab56l/dep-graph.bin
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6qudao4aa-1udh9xo-0wst9grwfl0nn952gs13ab56l/query-cache.bin
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6qudao4aa-1udh9xo-0wst9grwfl0nn952gs13ab56l/work-products.bin
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6quuvsuf3-0ov74k8-working/dep-graph.bin
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6quuvsuf3-0ov74k8-working/dep-graph.part.bin
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6quuvsuf3-0ov74k8-working/query-cache.bin
rdo/target/debug/incremental/rdo-0nb6xlr61d05u/s-h6quuvsuf3-0ov74k8-working/work-products.bin
rdo/target/debug/incremental/rdo-13nnhgobxg3w6/s-h6qvmajwct-0ncnhvp.lock
rdo/target/debug/incremental/rdo-13nnhgobxg3w6/s-h6qvmajwct-0ncnhvp-9ibzsrsnx81uf6io74icrstal/dep-graph.bin
rdo/target/debug/incremental/rdo-13nnhgobxg3w6/s-h6qvmajwct-0ncnhvp-9ibzsrsnx81uf6io74icrstal/query-cache.bin
rdo/target/debug/incremental/rdo-13nnhgobxg3w6/s-h6qvmajwct-0ncnhvp-9ibzsrsnx81uf6io74icrstal/work-products.bin
